<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>RecipeListServlet</servlet-name>
        <servlet-class>com.example.recipemanager.controller.RecipeListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecipeListServlet</servlet-name>
        <url-pattern>/recipes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecipeFormServlet</servlet-name>
        <servlet-class>com.example.recipemanager.controller.RecipeFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecipeFormServlet</servlet-name>
        <url-pattern>/recipe-form</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecipeDeleteServlet</servlet-name>
        <servlet-class>com.example.recipemanager.controller.RecipeDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecipeDeleteServlet</servlet-name>
        <url-pattern>/recipe-delete</url-pattern>
    </servlet-mapping>
</web-app>
